* {
  font-family: sans-serif;
}

@font-face {
  font-family: "Tungsten";
  src: url(/fonts/Tungsten-Bold.ttf);
}
body {
  background-color: #c0f6f9;
}

.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px 100px;
}

.imagen--logo {
  width: 150px;
  height: 150px;
  margin-right: 300px;
}

.navbar-items {
  display: flex;
  align-items: center;
  list-style-type: none;
  color: red;
  font-size: 35px;
}
.navbar-items :hover {
  text-decoration: underline;
}
.navbar-items .link {
  text-decoration: none;
  color: red;
  font-family: "Tungsten";
}

.navbar--listado {
  margin: 0px 100px;
  font-family: "Tungsten";
  letter-spacing: 2px;
  font-size: 55px;
}

#main {
  margin: 100px;
  text-align: center;
}

.section--presentacion {
  margin-bottom: 50px;
}
.section--presentacion .titulo--presentacion {
  color: blue;
  font-family: "Tungsten";
  font-size: 80px;
}
.section--presentacion .parrafo--presentacion {
  font-size: 50px;
}

.section--info {
  margin-top: 200px;
}
.section--info .info--titulo {
  color: blue;
  font-family: "Tungsten";
  font-size: 60px;
}
.section--info .info--parrafo {
  font-size: 35px;
}

.cards .card--titulo {
  color: blue;
  font-family: "Tungsten";
  font-size: 50px;
}
.cards .cards--container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8e9dcc;
}
.cards .cards--container .cards--clientes {
  width: 450px;
  height: 800px;
  border: 5px double black;
  margin: 30px;
  background-color: #8e9dcc;
}
.cards .cards--container .cards--clientes .cards--img {
  width: 400px;
  height: 350px;
  margin-top: 20px;
}
.cards .cards--container .cards--clientes .cards--titulo {
  font-family: "Tungsten";
  font-size: 35px;
  background-color: #8e9dcc;
}
.cards .cards--container .cards--clientes .cards--parrafo {
  text-align: center;
  font-size: 20px;
  margin: 0px 15px;
  background-color: #8e9dcc;
}

@font-face {
  font-family: Tungsten;
  src: url(fonts/Tungsten/Tungsten-Bold/Tungsten-Bold.ttf);
}
.titulo {
  text-align: center;
  font-family: Tungsten;
  font-size: 60px;
  border: 10px double red;
}

.casilla {
  width: 100px;
  height: 100px;
  background-color: pink;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 30px;
  margin: 25px;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.input {
  display: flex;
  flex-direction: column;
  margin: 50px;
  color: black;
  background-color: pink;
}

.titulo--dialog {
  background-color: pink;
  text-align: center;
}

.input--form {
  height: 30px;
  background-color: pink;
  font-size: 15px;
  font-family: sans-serif;
  color: blue;
}

.etiqueta--dialog {
  font-size: 30px;
  background-color: pink;
}

.div-plataforma {
  display: flex;
  margin: 1rem;
}

.botonGrid {
  margin-left: 100px;
  background-color: red;
}

.boton {
  background-color: #fcf5c7;
  display: flex;
  height: auto;
  width: 150px;
  border: 5px solid #fcf5c7;
  border-radius: 20px;
}

.text--boton {
  font-family: Tungsten;
  font-size: 30px;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: #fcf5c7;
}

.ocupado {
  background-color: red;
}

.nodisponible {
  background-color: black;
}

#modal {
  background-color: pink;
}

.divBotones {
  background-color: pink;
  display: flex;
  justify-content: space-around;
  margin: 0px 100px;
}

.botonPedido {
  background-color: aqua;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-family: serif;
  margin-right: 20px;
}

.botonLiberarMesa {
  width: 150px;
  background-color: red;
  font-size: 18px;
  font-family: serif;
}

/*# sourceMappingURL=styles.css.map */
