* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Tungsten";
  src: url(/fonts/Tungsten-Bold.ttf);
}
body {
  background-color: #fcf5c7;
}

.navbar {
  background-color: cyan;
}

.link {
  font-family: Tungsten;
}

.navbar-toggler {
  background-color: #fcf5c7;
}

.navbar-collapse {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  width: 100%;
  padding: 0.5rem 0;
  margin-top: 0.125rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.navbar-collapse.show {
  display: block;
}

.titulo-h1 {
  font-family: Tungsten;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 60px;
  color: #8e9DCC;
  text-align: center;
}

h2, h3 {
  font-family: Tungsten;
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 40px;
  text-align: center;
}

.container-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-img-top {
  width: auto;
  height: 300px;
}

.card {
  display: flex;
  margin-top: 50px;
  width: 18rem;
}

.card-body {
  background-color: #8e9DCC;
}

h4 {
  font-family: Tungsten;
  font-size: 30px;
  text-align: center;
}

@font-face {
  font-family: Tungsten;
  src: url(fonts/Tungsten/Tungsten-Bold/Tungsten-Bold.ttf);
}
#main {
  margin: 0px 25px;
}

.titulo {
  text-align: center;
  font-family: Tungsten;
  font-size: 60px;
  border: 10px double red;
  margin-bottom: 100px;
}

.casilla {
  width: 100px;
  height: 100px;
  background-color: pink;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 30px;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 60px;
  margin: 100px;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 50px;
  color: black;
  background-color: pink;
}

.titulo--dialog {
  background-color: pink;
  text-align: center;
}

.input--form {
  height: 30px;
  background-color: pink;
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
}

.etiqueta--dialog {
  font-size: 30px;
  background-color: pink;
  text-align: center;
}

.div-plataforma {
  display: flex;
  margin: 3rem;
  justify-content: space-evenly;
}

.boton {
  border: 5px solid red;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  background-color: #fcf5c7;
}

.text--boton {
  font-family: Tungsten;
  font-size: 30px;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  color: black;
}

.ocupado {
  background-color: red;
}

.nodisponible {
  background-color: black;
}

.divModal {
  background-color: red;
}

#modal {
  background-color: pink;
  max-height: max-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.divBotones {
  background-color: pink;
  display: flex;
  justify-content: space-around;
  margin: 0px 100px;
}

.botonPedido {
  background-color: aqua;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-family: serif;
  margin-right: 20px;
}

.botonLiberarMesa {
  width: 150px;
  background-color: red;
  font-size: 18px;
  font-family: serif;
}

.div-error {
  width: auto;
  height: fit-content;
  margin-top: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-error {
  color: cyan;
}

@media screen and (min-width: 1024px) {
  .navbar-collapse {
    display: none;
    position: relative;
    box-shadow: none;
    border: none;
  }
  .navbar-nav {
    margin-left: 400px;
  }
  .nav-link {
    font-family: Tungsten;
    letter-spacing: 5px;
  }
  .nav-item :hover {
    text-decoration: underline;
    text-decoration-color: #fcf5c7;
    background-color: antiquewhite;
  }
  .titulo-h1 {
    font-size: 80px;
  }
  .parrafo-h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 60px;
  }
  .parrafo-h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 50px;
  }
  .container-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: 100px;
  }
  .card {
    margin: 50px;
    width: 250px;
  }
  .quienes-somos {
    margin: 100px;
  }
}

/*# sourceMappingURL=styles.css.map */
