@font-face {
  font-family: Tungsten;
  src: url(fonts/Tungsten/Tungsten-Bold/Tungsten-Bold.ttf);
}

#main{
  margin: 0px 25px;
}
.titulo {
  text-align: center;
  font-family: Tungsten;
  font-size: 60px;
  border: 10px double red;
  margin-bottom: 100px;

}

.casilla {
  width: 100px;
  height: 100px;
  background-color: pink;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 30px;
  
}

.grilla {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 60px;
  margin: 100px;
  
}
.input {
  display: flex;
  flex-direction: column;
  margin: 50px;
  color: black;
  background-color: pink;
}
.titulo--dialog {
  background-color: pink;
  text-align: center;
}
.input--form {
  height: 30px;
  background-color: pink;
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
  
}
.etiqueta--dialog {
  font-size: 30px;
  background-color: pink;
  text-align: center;
}

.div-plataforma {
  display: flex;
  margin: 3rem;
  justify-content: space-evenly;
}


.boton {
  border: 5px solid red;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  
  background-color: #fcf5c7;
}

.text--boton {
  font-family: Tungsten;
  font-size: 30px;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  color: black;
  
}

.ocupado {
  background-color: red;
}

.nodisponible {
  background-color: black;
}
.divModal{
background-color: red;
}
#modal {
  background-color: pink;
  max-height: max-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  
}
.divBotones {
  background-color: pink;
  display: flex;
  justify-content: space-around;
  margin: 0px 100px;
}
.botonPedido {
  background-color: aqua;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-family: serif;
  margin-right: 20px;
}

.botonLiberarMesa {
  width: 150px;
  background-color: red;
  font-size: 18px;
  font-family: serif;
}
